.form{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    width: 355px;
    padding: 5px 13px 5px 12px;
}

#install{
    font-weight: bold;
    font-size: 25px;
}