body{
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    border-radius: 5px;
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.2);
    width: 435px;
    padding: 8px 10px 8px 9px;
}

img{
    width: 50px;
    height: 50px;
    border-radius: 50px ;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
}

#inp{
    font-size: 20px;
    border: none;
    vertical-align: middle;
    margin-left: 6px;
    margin-right: 20px;
}

#button{
    color: white;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(9, 105, 170);
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    vertical-align: middle;
}