body{
    font-family: Arial, Helvetica, sans-serif;
}

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
     
    margin-bottom: 15px;
}

img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
}

p{
    color: rgb(165, 160, 160);
    margin: 0 12px 0;
}

.name{
    font-weight: bold;
    color: black;
    font-size: 16px;
}

.dis{
    font-size: 14px;
}

.type{
    font-size: 13px;
}

button{
    background-color: rgb(49, 109, 245);
    color: white;
    width: 75px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 8px 5px;
    text-align: center;
    margin-left: 100px;
    margin-right: 20px;
}
