body{
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px 13px;
}

.notify{
    background-color: rgb(49, 109, 245);
    color: white;
    font-weight: bold;
    border: none;
    width: 30px;
    padding: 2px 4px;
    border-radius: 10px;
    text-align: center;
}