body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(120, 82, 178);
    padding: 10px 7px 10px 13px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

input{
    border: none;
    border-radius: 50px;
    width: 450px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
}

button{
    color: white;
    background-color: rgb(120, 82, 178);
    border: 1px solid white;
    border-radius: 2px;
    padding: 5px 12px;
    font-size: 13px;
}