body{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(121, 119, 119);
}

#inp{
    width: 390px;
    height: 30px;
    border: 2px solid black;
    border-radius: 3px;
    margin-top: 2px;
}

#button{
    color: white;
    font-size: 20px;
    background-color: rgb(67, 67, 213);
    width: 395px;
    height: 50px;
    border: none;
    border-radius: 40px;
}