body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 55px;
    height: 55px;
    border-radius: 50px ;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
}

#inp{
    font-size: 25px;
    border: none;
    vertical-align: middle;
    margin-left: 5px;
}

#button{
    color: white;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(9, 105, 170);
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    vertical-align: middle;
}