button{
    color: white;
    background-color: black;
    border: none;
    padding: 8px 8px 8px 8px;
    text-align: center;
    transition: 2s;
}
button:hover{
    opacity: 0.7;
    cursor: pointer;
}