button{
    color: black;
    background-color: rgb(255, 216, 20);
    border: none;
    border-radius: 50px;
    padding: 3px 40px 3px 40px;
    transition: 2s;
}
button:hover{
    background-color: rgb(222, 217, 69);
    cursor: pointer;
}