p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#head{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1px;
}

#grey{
    color: grey;
}

button{
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 10px 6px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}