input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(165, 157, 157);
    width: 155px;
    height: 18px;
    display: block;
    margin: 5px;
    padding: 3px;
}