body{
    height: 3000px;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    background-color: black;
    color: white;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 17.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
}