body{
    height: 3000px;
    font-family: Arial, Helvetica, sans-serif;
}

.sqr{
    background-color: grey;
    width: 320px;
    height: 180px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.button{
    background-color: black;
    color: white;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 17.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -15px;
    left: -15px;
}